body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #f3f4f0;
  background: url(http://24.media.tumblr.com/tumblr_mbgbrh3IP11qbpwkro1_500.gif) no-repeat center center fixed;
  background-size: cover;
  background-color: black;
  color: white;
  text-align: center;
  font-family: 'Saira Extra Condensed', sans-serif;
  font-size: 40px;
}

h1, h2 {
  font-family: 'Fascinate Inline', cursive;
  font-size: 80px;
  color: #D8D8D8;
}

h2 {
  font-size: 60px;
}

#home-page-links {
  font-size: 60px;
  display: flex;
}

#home-page-links li {
  flex-basis: 50%;
  text-decoration: none;
}

a{
  text-decoration: none;
  color: silver;
}


ul {
  list-style: none;
}

button {
  background-color: #FC9BAD;
  border-radius: 15px;
  color: white;
  font-size: 18px;
  font-family: 'Saira Extra Condensed', sans-serif;
  margin: 15px;
}



input, select {
  border: 1px solid pink;
  border-radius: 4px;
  font-size: 18px;
  padding: 15px;
}

form label {
  font-size: 25px;
  margin-left: 15px;
  margin-right: 25px;
}

form {
  margin-bottom: 20px;
}

.deleteButton{
  background-color: red;
}

.icon{
  max-height: 16rem;
  max-width: 16rem;
}

#student-listing {
  display: flex;
  flex-wrap: wrap;
}

#student-listing ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

#student-ul {
  display: flex;
  flex-wrap: wrap;
}

.student-list {
  display: flex;
  flex-direction: column;
}


#student-listing ul li {
  list-style: none;
  flex-wrap: wrap;
  flex-direction: row;
  flex-basis: 33%;
  justify-content: space-around;
  text-align: center;
}

li img {
  display: block;
  margin: auto;
}


#campus-listing {
  display: flex;
  flex-wrap: wrap;
}

#campus-listing ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

#campus-ul {
  display: flex;
  flex-wrap: wrap;
}

.campus-list {
  display: flex;
  flex-direction: column;
}


#campus-listing ul li {
  list-style: none;
  flex-wrap: wrap;
  flex-direction: row;
  flex-basis: 33%;
  justify-content: space-around;
  text-align: center;
}

#x-student {
  background-color: red;
  max-height: 3rem;
  font-size: 15px;
  padding: 2px;
}
